body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
 
  
    margin: 0 auto;
    display: flex; 
    flex-direction: column; 
    align-items: stretch;
   width: 50%;
}

h1 {
    color: #333;
}

.input-container {
    display: flex;
    margin: 20px 0;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
  
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}

.fa{margin-right: 10px;}

.actions button{color: #e9e1e1;
    background-color: #9778d1;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 3px;
margin-right: 5px;
border: none;
}




ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

li .task {
   flex: 1;

}

li button {
    background-color: #ff3333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#tasktext{

    justify-content:flex-start;
}
.edit{
  
    background-color: #4c95af;
   
}
.delete{
    
   
    background-color: #db7d68;
}
